<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item0</key>
	<string>Продукты</string>
	<key>item1</key>
	<string>Одежда</string>
	<key>item2</key>
	<string>ЖКХ</string>
	<key>item3</key>
	<string>Домашний интернет</string>
	<key>item4</key>
	<string>Сотовая связь</string>
	<key>item5</key>
	<string>Бензин</string>
	<key>item6</key>
	<string>Кафе</string>
	<key>item7</key>
	<string>Развлечения</string>
</dict>
</plist>
